div.release {
     padding-left: 28px;
     padding-right: 28px;
     border: 2px solid #C8C8C8;
     margin-top: 10px;
}

a, i {
     color: #C8C8C8;
}

li {
     direction: ltr;
     margin: 10px;
}

.short {
     position: relative;
     width: 750px;
}
